@model gymNotebook.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container">
            <div class="title">
                <div class="text-center"><h1 class="display-3"><spam style=color:brown>gym</spam>Notebook</h1></div>
            </div>
            <div class="form-signin">
                
                @Html.ValidationMessage("loginerror", "")

                <h2 class="form-signin-heading">Please sign in</h2>
                @Html.LabelFor(o => o.Email, "Email address", new { @class = "sr-only" })

                @Html.TextBoxFor(o => o.Email, new { @class = "form-control", id = "inputEmail", @placeholder = "Email address", autofocus= "autofocus" })

                <div class="login-validation-message">@Html.ValidationMessageFor(o => o.Email)</div>

                @Html.LabelFor(o => o.Password, "Password", new { @class = "sr-only" })

                @Html.PasswordFor(o => o.Password, new { @class = "form-control", placeholder="Password", id="inputPassword" })

                <div class="login-validation-message">@Html.ValidationMessageFor(o => o.Password)</div>

                <div class="checkbox" style="margin-bottom:10px;">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in" />
         
                <div style="text-align: center;">
                    You do not have an account? <a href="@Url.Action("Register")">Register</a>
                </div>

            </div>
        </div>
    }
</div>
